html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: padding-box;
}

body {
    font-family: serif;
    font-size: 12px;
    background: white;
    color: black;
}

.index {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.home {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    width: 400px;
    border: 3px solid lightgray;
    padding: 10px;
    padding-top: 20px;
    background: #3A125B;
    border-radius: 20px;
}

label {
    font-family: cursive;
    font-size: 18px;
    color: white;
    padding: 5px;
}

input {
    font-family: cursive;
    font-size: 14px;
    display: block;
    border: 2px solid lightgray;
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

button {
    font-family: cursive;
    font-size: 14px;
    float: right;
    background: white;
    color: #3A125B;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: -5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
}

button:hover {
    opacity: 0.90;
}

.error {
    font-family: cursive;
    font-size: 14px;
    float: left;
    background: white;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin-top: -5px;
    margin-bottom: 5px;
    border: none;
}

header {
    background: #3A125B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

h2 {
    font-family: cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 12px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav li {
    margin: 0px 5px;
}

header nav a {
    font-size: 14px;
    background: white;
    color: #3A125B;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    border: none;
}

a:hover {
    opacity: 0.9;
}

main {
    padding: 20px;
}

.main_picture {
    text-align: center;
    padding-bottom: 10px;
}

section {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}

h3 {
    font-family: serif;
    font-size: 18px;
    color: black;
    text-align: left;
}

h4 {
    font-family: serif;
    font-size: 14px;
    color: black;
    text-align: left;
}

p {
    font-size: 16px;
    color: black;
}

.gallery {
    font-size: 16px;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.gallery_img {
    width: 80%;
    /* height: 280px; */
    object-fit: contain;
}

footer {
    font-family: cursive;
    font-size: 16px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
